.dashboard-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

.dashboard-container .dashboard-header {
  position: relative;
  width: 100%;
  height: 250px;
  filter: none;
}

.dashboard-container .dashboard-header .background {
  background-image: url(../../../public/images/doge0.jpg);
  background-position: center 10%;
  filter: blur(3px) brightness(70%);
  z-index: 6;
}

.dashboard-heading {
  font-family: "Roboto Regular";
  width: 90%;
  text-align: left;
  z-index: 7;
  position: relative;
  margin-left: 10%;
  margin-top: 80px;
}

.dashboard-subheading {
  font-family: "Roboto Regular";
  text-align: left;
  z-index: 7;
  position: relative;
  margin-left: 10%;
}

/* homework list and items */
.homework-list-container {
  width: 95%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 5;
  background: rgb(54, 54, 54);
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 40px;
  flex-direction: column;
}

.homework-list-wrapper {
  width: 90%;
  background-color: #3d3d3d;
  padding: 0;
  border-radius: 10px;
  margin-bottom: 0;
  z-index: 4;
  height: 400px;
  box-shadow: 0 0 15px #525252;
  border: solid #7a7a7a 1px;
  overflow: hidden;
}

.homework-list {
  padding-left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.homework-list .homework-item {
  display: flex;
  list-style: none;
  min-height: 75px;
  height: auto;
  width: 100%;
  border-bottom: rgb(128, 128, 128) solid 1px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  background-color: #414141;
  transition: ease-out 0.2s;
  cursor: pointer;
}

.homework-list .homework-item:hover {
  transition: ease-out 0.2s;
  background-color: #4e4e46;
}

.homework-list .homework-item .homework-item-innermain .homework-title {
  font-size: 1.2rem;
  width: 100%;
}

.homework-item-innermain {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.homework-item .homework-item-arrow {
  --size: 20px;
  width: var(--size);
  height: var(--size);
  margin-left: auto;
  margin-right: 3%;
  cursor: pointer;
  filter: brightness(80%);
  transition: 0.15s;
}

.homework-item .homework-item-arrow:hover {
  filter: brightness(100%);
  transition: 0.15s;
}

.dashboard-new-homework-button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 5%;
}

.dashboard-bottom-section {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 500px;
}

.dashboard-video {
  width: 45%;
  aspect-ratio: 16 / 9;
  border-radius: 7px;
}

.homework-sort-customization-control-panel {
  width: 90%;
  height: 90px;
  border: 1px solid rgba(189, 189, 189, 0.253);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #404040;
  flex-wrap: wrap;
}

/* modifying react bootstrap's component color to fit dark theme */
.homework-sort-customization-control-panel .homework-search-bar {
  flex: 1;
  border-radius: 5px;
  background-color: #414141;
  color: white;
  outline: none;
  transition: 0.3s;
  box-shadow: none;
  border: none;
  overflow: hidden; /* this is for forcing border radius */
  display: flex;
  min-width: 250px;
}

.homework-search-bar input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
  padding: 7px;
  width: 100%;
  flex: 1;
}

.homework-search-bar button {
  border: none;
  background: none;
  outline: none;
  background-color: #505050;
  height: 39px;
  width: 39px;
  float: right;
  transition: 0.3s;
}
.homework-search-bar button:hover {
  background-color: #575757;
  transition: 0.3s;
}

.homework-search-bar:focus-within {
  transition: 0.3s;
  background-color: #474747 !important;
}
.homework-sort-customization-control-panel .option.subject-option {
  margin-left: 20px;
}

/* don't write any css except for media queries below here */

@media screen and (max-width: 850px) {
  .homework-sort-customization-control-panel {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px;
  }
  .homework-sort-customization-control-panel .option {
    margin: 10px !important;
  }

  .homework-sort-customization-control-panel .option.homework-search-bar {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .dashboard-bottom-section {
    width: 85%;
    min-height: 500px;
    height: auto;
    margin-top: 100px;
  }

  .dashboard-video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    height: 100%;
    margin-top: 50px;
  }

  body .big-ass-calendar {
    width: 100% !important;
  }
}

@media screen and (max-width: 480px) {
  .homework-list .homework-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .homework-list .homework-item .homework-item-innermain .homework-title {
    width: 60%;
  }
}
