.landing-header {
  width: 100%;
  height: calc(100vh - var(--nav-bar-height));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-header .landing-header-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  object-position: 40% 10%;
  z-index: 1;
}

.landing-header .landing-header-caption {
  width: 300px;
  height: 80%;
  background-color: rgba(158, 149, 63, 0.9);
  z-index: 2;
  position: relative;
  margin-right: max(30%, 40px);
  padding: 20px;
  border-radius: 3px;
}

.scroll-down-sign {
  width: 45px;
  margin: auto;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
