body {
  margin: 0;
  font-family: "Roboto Regular";
  background-repeat: no-repeat;
  min-height: 100vh;
  margin-top: 0;
  min-width: var(--min-width);
}

div.App {
  min-height: 100vh;
  padding-top: var(--nav-bar-height);
  min-width: var(--min-width);
  background-color: inherit;
}
div#root {
  background-color: inherit;
}

a,
.normal-links.normal-links.normal-links {
  color: rgb(250, 212, 0);
  text-decoration: none;
  transform: scale(1);
  transition: 0.3s;
}

a:hover,
.normal-links:hover.normal-links:hover.normal-links:hover {
  color: rgb(250, 212, 0);
  text-decoration: underline;
}

.margin-top-nav {
  margin-top: var(--nav-bar-height);
}
