.rounded-btn {
  border-radius: 100vw;
  background-color: rgb(192, 163, 0);
  color: rgb(255, 255, 255);
  height: 35px;
  font-size: 17px !important;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
  transform: scale(1);
  min-width: max-content;
}

.rounded-btn:hover {
  transition: 0.3s;
  box-shadow: 0 0 9px darkgray;
}

a.rounded-btn,
.rounded-btn:hover {
  font-size: 12px;
  border: none;
  padding-top: 4px;
  text-decoration: none;
  cursor: pointer;
}
.rounded-btn:not(a):hover {
  padding-top: 0 !important;
}

/* variants */
.rounded-btn.secondary {
  border: 1px gray solid;
  background-color: transparent;
  color: black;
}

.rounded-btn.emphasized {
  border: none;
  background-color: rgb(119, 9, 209);
  color: white;
}
