/* some variables */
:root {
  --account-content-container-border-radius: 6px;
}

/* style for the overall container */
.tab-switcher-container {
  width: 100%;
  height: 100%;
  background-color: rgba(61, 60, 60, 0.877);
  border-radius: var(--account-content-container-border-radius);
}

/* tabs bar */
.tab-switcher-tabs-bar {
  width: 100%;
  height: 48px;
  display: flex;
  background-color: inherit;
  border-radius: var(--account-content-container-border-radius);
}

/* tabs bar item */
.tab-switcher-tabs-bar .tabs-bar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
  transition: 0.2s;
  background-color: inherit;
}

.tab-switcher-tabs-bar .tabs-bar-item:hover {
  filter: brightness(120%);
}

.tab-switcher-tabs-bar .tabs-bar-item.tabs-bar-item-active {
  transition: 0.2s;
  background-color: rgb(41, 42, 44);
}
/* apply border radius to items on the side */
.tab-switcher-tabs-bar .tabs-bar-item:nth-child(1) {
  border-top-left-radius: var(--account-content-container-border-radius);
}
.tab-switcher-tabs-bar .tabs-bar-item:last-child {
  border-top-right-radius: var(--account-content-container-border-radius);
}

/* actual content */
.tab-switcher-container .tab-content-container {
  width: 100%;
  padding: 10px;
  background-color: rgb(41, 42, 44);
  height: auto;
  min-height: 300px;
}
