.calendar-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.dashboard-heading {
  font-family: "Roboto Light";
}
