.stats-page {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.chart-container {
  display: block;
  position: relative;
  background-color: #333333;
  border-radius: 5px;
  box-shadow: 0 0 10px #0c0c0cc4;
  padding: 20px;
  margin: 10px;
}
.chart-container#subjects-donut-container {
  height: auto;
  max-width: 350px;
}

.chart-container#weekly-homework-line-chart-container {
  height: auto;
  min-width: 350px;
  width: 100vw;
}

.time-range-select {
  width: 170px;
  background-color: var(--tab-switcher-bg-color);
  border-radius: 0;
}
