/* styles for the navigation bar container */
.nav-bar {
  height: var(--nav-bar-height);
  padding-left: 20px;
  position: relative;
  width: 100vw;
  color: rgb(245, 245, 245);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: var(--min-width);
  font-family: "Lato Regular";
  max-width: 1100px;
}

@media screen and (max-width: 755px) {
  .nav-bar {
    padding-right: 25px;
  }
}

/* style for the big background */
.nav-bar-background {
  position: fixed !important;
  width: 100%;
  z-index: 6000000;
  display: flex;
  background-color: rgb(87, 87, 87);
  border-bottom: #222222 solid 1px;
  justify-content: center;
  height: var(--nav-bar-height) !important;
}

/* styles for the nav bar that's displayed on the home page */
.nav-bar.nav-bar-transparent {
  background-color: rgba(255, 255, 255, 0.048); /*rgb(37, 37, 37)*/
  min-height: max-content;
  padding-top: 10px;
  padding-left: 20px;
}

.nav-bar .nav-item.nav-item-home,
.nav-bar .nav-item.nav-item-home:hover {
  width: 45%;
  color: white;
}

/* styles for the normal items in nav bar */
.nav-bar .nav-item,
.nav-bar .nav-item:hover {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.4s;
  height: 100%;

  font-size: 18px !important;
}

.nav-bar .nav-item.nav-item-end {
  margin-left: auto;
}
.nav-bar div.nav-item.nav-item-end#auth-links a {
  margin-left: 8px;
}

/* nav item different styling on hover and for active items */

.nav-bar .nav-item:hover {
  color: rgb(255, 255, 255);
}

.nav-bar .nav-item {
  color: rgb(177, 177, 177);
}

.nav-bar .nav-item.nav-item-active {
  color: rgb(255, 255, 255);
}

.nav-logo {
  width: auto;
  height: 70% !important;
}

/* Adjust the spacing on screens of different sizes */
@media screen and (min-width: 1250px) {
  .nav-bar .nav-item,
  .nav-bar .nav-item:hover {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 1249px) {
  .nav-bar .nav-item,
  .nav-bar .nav-item:hover {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 800px) {
  .nav-bar .nav-item,
  .nav-bar .nav-item:hover {
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-bar .nav-item.nav-item-home,
  .nav-bar .nav-item.nav-item-home:hover {
    width: 40%;
  }
}
