#account-page #account-page-content-container {
  border-radius: var(--account-content-container-border-radius);
  box-shadow: 0 0 10px rgb(26, 26, 26);
  width: 80%;
  height: 80%;
  max-height: 500px;
  min-width: 300px;
}

#account-page {
  width: 100%;
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

/* information tab */
img.avatar {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.modal-content.modal-content.modal-content {
  background-color: black;
}

.modal-content.modal-content.modal-content .modal-footer {
  border-top: 1px rgb(78, 78, 78) solid;
}
.modal-content.modal-content.modal-content .modal-header {
  border-bottom: 1px rgb(78, 78, 78) solid;
}

.close-button {
  width: 25px;
  height: 25px;
  fill: white;
  cursor: pointer;
}

.avatar-option {
  width: 75px;
  height: 75px;
  cursor: pointer;
}
