@media screen and (max-width: 350px) {
  body {
    background-size: var(--min-width) 100vh;
  }
}

/* rounded buttons */
body.dark .rounded-btn,
body.dark .rounded-btn.secondary {
  color: white;
}

body.dark .rounded-btn:hover {
  transition: 0.3s;
  box-shadow: 0 0 9px white;
}
