:root {
  --min-width: 350px;
  --nav-bar-height: 55px;
}

/* custom fonts */

@font-face {
  font-family: "Roboto Light";
  src: url("/fonts/Roboto/Roboto-Light.ttf");
  src: /* Modern Browsers */ url("/fonts/Roboto/Roboto-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Light Italic";
  src: url("/fonts/Roboto/Roboto-LightItalic.ttf");
  src: /* Modern Browsers */ url("/fonts/Roboto/Roboto-LightItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("/fonts/Roboto/Roboto-Medium.ttf");
  src: /* Modern Browsers */ url("/fonts/Roboto/Roboto-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
  src: /* Modern Browsers */ url("/fonts/Roboto/Roboto-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Rubik Light";
  src: url("/fonts/Rubik-Light.ttf"); /* IE9 Compat Modes */
  src: /* Modern Browsers */ url("/fonts/Rubik-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Bold";
  src: url("/fonts/Lato-Bold.ttf"); /* IE9 Compat Modes */
  src: /* Modern Browsers */ url("/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Regular";
  src: url("/fonts/Lato-Regular.ttf"); /* IE9 Compat Modes */
  src: /* Modern Browsers */ url("/fonts/Lato-Regular.ttf") format("truetype");
}
